@charset  "UTF-8";

body {
    background-color: #19191E;
    color: #fff;
}

/*-----------------------------*/
/*----------big-div------------*/
/*-----------------------------*/


.big-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}


.alarm {
    text-align: center;
}


.current-time {
    font-size: 20rem;
}


.user-time i {
    font-size: 30px;
}


.inputs {
    text-align: center;
    margin-top: 5%;
}


.time {
    width: 89px;
    height: 47px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 39px;
    font-size: 15px;
    text-align: center;
    margin: 1%;
}


p {
    font-size: 32px;
}


.user-time {
    padding-left: 30px;
}


#button {
    width: 167px;
    font-size: 21px;
    background-color: rgb(255, 165, 0);
}


@media (min-width: 240px) and (max-width: 450px) {
    .current-time {
        font-size: 12rem;
    }

    .user-time i {
        font-size: 22px;
    }

    .time {
        width: 72px;
        height: 37px;
        font-size: 14px;
        margin-bottom: 3%;
    }
}


@media (min-width: 450px) and (max-width: 650px) {
    .current-time {
        font-size: 16rem;
    }

    .user-time i {
        font-size: 22px;
    }

    .time {
        width: 72px;
        height: 37px;
        font-size: 14px;
        margin-bottom: 3%;
    }
}
